<h1 id="addRecHead">Add a Recipe!</h1>
<div class="card text-white bg-dark mb-3 thirdParty" style="max-width: 20rem;">
    <h4>
        Have a recipe form another site?
    </h4>
    <p>Click <a href="/other">Here</a></p>
</div>
<div class="addRec">
    <div class=" addRecCard">
        <div class="add-rec-form">
            <label for="recNameInput">Recipe Name</label><br>
            <input type="text" class="form-control" id="recNameInput" placeholder="Recipe Name"
                onchange="genPreview(this.id)"> <br />

            <label for="recAuthorInput">Recipe Author</label><br>
            <input type="text" class="form-control" id="recAuthorInput" placeholder="Recipe Author"
                onchange="genPreview(this.id)"><br>
            <small id="authorHelp" class="form-text text-muted">If the recipe is from a website, add the name of the
                website
                with the author name. (John Doe, foodnetwork.com)</small><br />

            <br />
            <label for="recAuthorInput">Recipe Image</label><br>
            <input type="file" class="form-control" name="image" id="recImageInput"
                placeholder="Upload Image of Food"><br>
            <label for="recCategoryInput">Category</label><br>
            <select class="form-control" id="recCategoryInput" onchange="genPreview(this.id)">
                <option>Breakfast</option>
                <option>Lunch</option>
                <option>Dinner</option>
                <option>Snacks</option>
                <option>Appitizer</option>
                <option>Drinks</option>
                <option>Dessert</option>
                <option>Salad</option>
            </select>
            <br>
            <div id="ingredients">
                <label for="recIngredientInput">Ingredent(s)</label><br>
                <input type="text" class="form-control" id="recIngredientInput"
                    placeholder="Ingredient and Ammount"><br>
                <small id="authorHelp" class="form-text text-muted">Ex: 1/2 Cup All-Purpose Flour</small>
            </div>
            <button type="button" id="ingredient" class="btn add-rec-btn" onclick="addIngredientInput()">Another
                Ingredient!</button>
            <br />
            <div id="directions">
                <label for="recDirectionInput">Direction(s)</label><br>
                <input type="text" class="form-control" id="recDirectionInput" placeholder="Direction"><br>
                <small id="authorHelp" class="form-text text-muted">Ex: Add flour to a mixing bowl</small>
            </div>
            <button type="button" id="direction" class="btn add-rec-btn" onclick="addDirectionInput()">Another
                Direction!</button>
            <p>&nbsp;</p>

        </div>
    </div>


    <div class="previewRecCard">

        <h2>Recipe Preview</h2>
        <div class="card previewRec">
            <h3 id="recName">Rec Name</h3>
            <h4 id="recAuthor">Rec Author</h4>
            <div class="image-preview" id="imagePreview">
                <img src="" alt="Image Preview" class="image-preview__image">
                <span class="image-preview__default-text">Image Preview</span>

            </div>
            <p id="recCategory">Category</p>
            <ul id="ingredientList">
            </ul>
            <ol id="directionList">
            </ol>
            <div id="confirm">
                <button onclick="addToDatabase()" class="btn btn-info">Confirm Recipe</button>
            </div>
        </div>
    </div>
</div>

<script>
    var Ingredients = [];
    var Directions = [];
    var image;
    var Category;
    var Author;
    var Name;


    var inpImage = document.getElementById('recImageInput');
    var imgPreviewContainer = document.getElementById('imagePreview');
    var previewImage = imgPreviewContainer.querySelector(".image-preview__image");
    var previewDefaultText = imgPreviewContainer.querySelector(".image-preview__default-text");

    inpImage.addEventListener("change", function () {
        const file = this.files[0];
        image = this.files[0];

        if (file) {
            const reader = new FileReader();

            previewDefaultText.style.display = 'none';
            previewImage.style.display = 'block';


            reader.addEventListener("load", function () {
                console.log(this);
                previewImage.setAttribute('src', this.result);
            });

            reader.readAsDataURL(file);
        } else {
            previewDefaultText.style.display = 'block';
            previewImage.style.display = 'none';
        }
    });

    function genPreview(id) {
        var value = document.getElementById(id).value;

        var previewId = id.split(/Input/);
        var previewTitle = document.getElementById(previewId[0]);

        if (id.includes('Name')) {
            Name = value;
            previewTitle.innerText = value;

        } else if (id.includes('Author')) {
            previewTitle.innerText = value;
            Author = value;
        } else if (id.includes("Category")) {
            previewTitle.innerText = value;
            Category = value;
        }

    }

    function addIngredientInput() {

        var ingredient = document.getElementById("recIngredientInput").value;

        var ul = document.getElementById("ingredientList");
        var li = document.createElement("li");
        li.appendChild(document.createTextNode(ingredient));
        ul.appendChild(li);

        Ingredients.push(ingredient);

        document.getElementById("recIngredientInput").value = "";
    }

    function addDirectionInput() {

        var direction = document.getElementById("recDirectionInput").value;


        var ol = document.getElementById("directionList");
        var li = document.createElement("li");
        li.appendChild(document.createTextNode(direction));
        ol.appendChild(li);

        Directions.push(direction);

        document.getElementById("recDirectionInput").value = "";
    }

    async function addImage(file) {
        console.log(file)
        var recImage = {
            id: "",
            name: ""
        };

        const endpoint = '/image/upload';
        const formData = new FormData();

        formData.append("image", file);

        await fetch(endpoint, {
                method: 'post',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                recImage.id = data.file.id;
                recImage.name = data.file.filename;
            })
            .catch(console.error)

        return recImage;
    }

    async function addToDatabase() {

        var imageRes = await addImage(image);


        var recipeObj = {
            recName: Name,
            author: Author,
            image: imageRes,
            category: Category,
            ingredients: Ingredients,
            directions: Directions
        }

        console.log(typeof (recipeObj));

        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/api/v1/recipes", true);
        xhttp.setRequestHeader('Content-type', 'application/json');
        xhttp.send(JSON.stringify(recipeObj));
        window.location.replace("/public");
    }
</script>