<p class="hidden" id="recId"><%= recipe %></p>
<div class="recipeContainer"></div>

<script>
    const id = document.getElementById('recId').innerText
    console.log(document.getElementById('recId').innerText)
    fetch(`/api/v1/recipes/${id}`)
        .then(response => response.json())
        .then(data => buildRecCard(data.data));
    function buildRecCard(rec) {
        var container = document.getElementsByClassName("recipeContainer")[0];
        var card = document.createElement("div");
        var cardBody = document.createElement("div");
        var recname = document.createElement("h5");
        var recAuthor = document.createElement("p");
        var recIngList = document.createElement("ul");
        var recDirList = document.createElement("ol");
        var recImage = document.createElement("img");
        rec.ingredients.forEach(ing => {
            var recIng = document.createElement("li");
            recIng.innerText = ing;
            recIngList.appendChild(recIng);
        })
        rec.directions.forEach(dir => {
            var recDir = document.createElement("li");
            recDir.innerHTML = dir;
            recDirList.appendChild(recDir);
        })
        card.setAttribute("class", "card recCard");
        card.setAttribute("id", rec._id)
        cardBody.setAttribute("class", "card-body");
        recname.setAttribute("class", "card-title");
        recImage.setAttribute('src', `/image/${rec.image.name}`);
        recImage.setAttribute('class', "image-preview-card");
        recname.innerText = rec.recName;
        recAuthor.innerText = rec.author;
        cardBody.appendChild(recImage);
        cardBody.appendChild(recname);
        cardBody.appendChild(recAuthor);
        cardBody.appendChild(recIngList);
        cardBody.appendChild(recDirList);
        card.appendChild(cardBody);
        container.appendChild(card);
    }
</script>