<p class="hidden" id="recId"><%= recipe %></p>
<% if (user) {%>
<% if (user.favRecs.includes(recipe)) { %>
<button id="fav" class="btn btn-info" onClick="unfavRec('<%= recipe %>')">Favorite <i id="heart"
        class="fas fa-heart"></i></button>
<% } else { %>
<button id="fav" class="btn btn-info" onClick="favRec('<%= recipe %>')">Favorite <i id="heart"
        class="far fa-heart"></i></button>
<% } %>
<% } %>

<div id="recContainer">

</div>

<script>
    const id = document.getElementById('recId').innerText

    fetch(`/api/v1/recipes/${id}`)
        .then(response => response.json())
        .then(data => buildRecCard(data.data));

    function buildRecCard(recipe) {
        var html = `
        <div class="recTitle">
            <h1>${recipe.recName}</h1>`;
        if (recipe.sourceUrl) {
            html += `<h3><a href="${recipe.sourceUrl}" target="_blank">${recipe.author}</a></h3>`;
        } else {
            html += `<h3>${recipe.author}</h3>`
        }
        html += `</div>
        <div class="recBox">
            <div class="recIngredients">
                <h2>Ingredients</h2> <ul>`;
        recipe.ingredients.forEach(ing => {
            html += `<li>${ing  }</li>`
        });
        html += `</ul></div>
            <div class="recDirections">
            <h2>Directions</h2>
            <ol>`;
        recipe.directions.forEach(dir => {
            html += `<li>${dir}</li>`
        });
        html += `</ol></div>
        </div>`;

        document.getElementById('recContainer').innerHTML = html;
    }

    async function favRec(id) {


        await fetch(`/users/fav/${id}`, {
                method: 'put',
                body: id
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('heart').className = "fas fa-heart"
            })
            .catch(console.error)
    }

    async function unfavRec(id) {
        await fetch(`/users/unfav/${id}`, {
                method: 'put',
                body: id
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('heart').className = "far fa-heart"
            })
            .catch(console.error)
    }
</script>