.text-container {
    background-color: rgba(0, 0, 0, 0.733);
    padding: 10px;
}

.my-4 {
    border-bottom: 1px solid white;
}


.recipeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#addRecHead {
    text-align: center;
}

.addRec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addRecCard {
    width: 50%;
    margin: 6px;
}


.thirdParty{ 
    text-align: center;
}

.previewRecCard {
    width: 50%;
    margin: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.previewRec {
    width: 400px;
    padding: 4px;
}

.image-preview {
        width: 100%;
        min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc
}

.card {
    width: 18rem;
    cursor: pointer;
  }

.image-preview-card {
    max-width: 100%;
    border: 2px solid #dddddd;
    margin-top: 15px;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc
}

.image-preview__image {
    display: none;
    width: 100%;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    .addRec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .addRecCard {
        width: 100%;
        margin: 0;
        padding: 6px;
    }

    .previewRecCard {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }