.jumbotron {
    background-image: url('/images/header.jpg');
    background-size: cover;
    color: white;
    width: 100%;
}

.text-container {
    background-color: rgba(0, 0, 0, 0.733);
    padding: 10px;
}

.my-4 {
    border-bottom: 1px solid white;
}


.recipeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.recCard {
    margin: 3px;
    width: 15rem;
}

#addRecHead {
    text-align: center;
}

.addRec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addRecCard {
    width: 50%;
    margin: 6px;
}

.previewRecCard {
    width: 50%;
    margin: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.previewRec {
    width: 20rem;
}