<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="alert alert-primary" role="alert">
    Hello Home Page
  </div>

  <% include ../partials/scripts.ejs %>

</body>

</html>